* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-size: 11px;
}

p {
    font-size: 13px;
}

th {
    text-align: center;
}

.nota-fiscal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FBF9E4;
    width: 25rem;
    padding: 4rem 0;
    box-shadow: -1px 0px 28px 0px rgba(0,0,0,0.75);
}

.cabecalho {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.line {
    width: 100%;
    height: 2px;
    border: 1px dashed black;
    margin: 10px 0 10px 0;
}

.produtos .table tr{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    
}

.produtos .table td, th {
    text-align: center;
    width: 13%;
    margin: 0 3px;
}

.conta {
    width: 100%;
}

.conta-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.3rem;
}

.bold {
    font-weight: bold;
}

.none {
    display: none;
}

#btnImprimir {
    width: 25rem;
    background-color: rgb(30, 91, 116);
    padding: 1rem;
    border-radius: 5px;
    color: #FBF9E4;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#btnImprimir:hover {
    transition: 1s;
    background-color: rgb(13, 28, 34);
}